#xlbox ul,
ol {
	list-style: none;
}

#xlbox {
	width: 458px;
	height: 350px;
	position: relative;
	overflow: hidden;
}

#xlbox ul {
	width: 9999px;
	position: relative;
}

#xlbox ul li {
	float: left;
}

#xlbox ul li img {
	width: 458px;
	height: 305px;
}

#xlbox ol {
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -50px;
}

#xlbox .current {
	background: #333;
}

#xlbox ol li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	/*border: 1px solid red;*/
	background: #666;
	margin-right: 4px;
	float: left;
	cursor: pointer;
	margin: 0 6px;
	display: inline-block;
}

#xlbox span {
	position: absolute;
	width: 50px;
	height: 70px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	z-index: 1;
	display: none;
}

#xlbox #left {
	left: 1px;
}

#xlbox #right {
	right: 1px;
}

#xlbox:hover span {
	display: block;
}



/*查看详情*/

#YLimgwrap {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 3000;
	display: none;
}

#YLimgcon {
	display: inline-block;
	padding: 10px;
	position: absolute;
	/*background: #fff;*/
}

#YLimgcon h4 {
	box-sizing: border-box;
	height: 25px;
	line-height: 20px;
	padding: 0 0 5px;
	font-size: 16px;
	font-weight: normal;
	/*background:#6CF*/
}

#YLimgcon h4 a {
	float: right;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	margin-left: 6px;
	overflow: hidden;
	cursor: pointer;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	border-radius: 3px;
}

#YLimgcon .prev,
#YLimgcon .next {
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	overflow: hidden;
	margin-top: -20px;
	/*display: none;*/
}

#YLimgcon .prev {
	left: -30px;
	background: url(../images/prev.png) left no-repeat;
}

#YLimgcon .next {
	right: -30px;
	background: url(../images/next.png) right no-repeat;
}